---
const { children } = Astro.props
const html = await Astro.slots.render('default')
---

<a class="text-indigo-400 hover:underline dark:text-indigo-300 transition-colors">
  <Fragment set:html={html} />
</a>
