---
import { Header } from '../components/Header'
import '@fontsource/righteous'
import '@fontsource/roboto'
import '@fontsource/merriweather'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="stylesheet" href="/fontawesome-pro/css/fontawesome.min.css" />
	</head>
	<body class="
		text-gray-900 dark:bg-gray-800 dark:text-gray-100
		transition-all duration-200
	">
		<div class="container mx-auto px-6 md:px-16 pb-28">
			<Header />

			<slot />
		</div>
	</body>
</html>
